<aside id="sidebar">
      <ul>
        <li>
          <%= link_to "All events", events_path %>
        </li>
        <li>
          <%= link_to "Add new event", new_event_path %>
        </li>
      </ul>
</aside>