<aside style="background: #f0f0f0;
                  width: 200px;
                  float:right">
      <ul>
        <li>
          <%= link_to "All events", events_path %>
        </li>
        <li>
          <%= link_to "Add new event", new_event_path %>
        </li>
      </ul>
      
    </aside>